.site-nav__list {
  display: flex;

  flex-direction: column;

  row-gap: 10px;

  padding: 0;
  margin: 0;

  font-size: 16px;
  line-height: 24px;
  list-style: none;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;

    column-gap: 30px;
  }
}

.site-nav__link {
  display: block;

  font-size: inherit;
  font-weight: 400;
  line-height: inherit;
  color: $white;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &:hover {
    color: $green-hover-color;
  }

  &:active {
    opacity: 0.7;
  }

  &--active {
    font-weight: 700;
    text-decoration: underline;
  }
}
