.button {
  display: block;
  padding-top: 11px;
  padding-right: 24px;
  padding-bottom: 11px;
  padding-left: 24px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  border: none;
  border-radius: 50px;

  cursor: pointer;

  &--grey {
    color: $f-green-secondary-color;
    font-weight: 700;

    background-color: $grey;

    border: none;
    border-radius: 50px;

    &:hover {
      color: $white;

      background-color: $green-light-color;
    }
  }

  &--green {
    color: $white;

    background-color: $green-light-color;

    &:hover {
      background-color: $green-hover-color;
    }
  }

  &--transparent {
    color: $f-green-color;

    background-color: transparent;

    border: 1px solid $green-light-color;

    &:hover {
      color: $white;

      background-color: $green-light-color;
    }
  }

  &:active {
    opacity: 0.7;
  }
}
