.header-contacts {
  text-align: right;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-grow: 1;
    align-items: center;

    text-align: left;
  }
}

.header-contacts__phone {
  display: block;

  color: $f-main-color;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin-right: 35px;
    margin-left: auto;

    font-weight: 400;
    line-height: 24px;
  }

  &:hover{
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.header-contacts__icon-whatsapp {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-right: 10px;
  }
}

.header-contacts__address {
  margin: 0;

  font-size: 13px;

  @media (min-width: $tablet-width) {
    position: relative;

    display: flex;
    flex-direction: column;
    order: -1;
    padding-left: 23px;

    font-size: 14px;
  }
}

.header-contacts__city {
  @media (min-width: $tablet-width) {
    display: block;

    &::before {
      position: absolute;
      top: -4px;
      left: 0;

      display: block;
      width: 20px;
      height: 20px;

      background-image: url('/img/icons/icon-location.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 20px 20px;

      content: "";
    }
  }
}

.header-contacts__street {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;

    color: $f-grey-dark-color;
  }
}
