.header {
  background-color: $grey;

  @media (min-width: $desktop-width) {
    background-color: $white;
  }
}

.header__top {
  position: relative;

  display: flex;
  align-items: center;
  min-height: 65px;

  @media (min-width: $desktop-width) {
    padding-right: 4px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
  }
}

.header__menu-button {
  position: absolute;

  display: block;
  width: 37px;
  height: 26px;
  padding: 0;

  background: none;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 4px;

    background-color: $f-green-secondary-color;

    transition: all 0.3s;

    content: "";
  }

  &::before {
    top: 0;

    box-shadow: 0 12px 0 0 $f-green-secondary-color;
  }

  @media (min-width: $tablet-width) {
    width: 55px;
    height: 35px;

    &::before,
    &::after {
      height: 4px;
    }

    &::before {
      box-shadow: 0 16px 0 0 $f-green-secondary-color;
    }
  }

  &--close {
    left: -5px;

    width: 40px;
    height: 40px;

    &::before {
      top: 50%;

      box-shadow: none;
      transform: rotate(45deg);
    }

    &::after {
      top: 50%;

      transform: rotate(-45deg);
    }
  }

  @media (min-width: $desktop-width) {
    display: none;
  }

  &:active {
    opacity: 0.7;
  }
}

.header__logo {
  margin-right: auto;
  margin-left: 80px;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
    margin-left: 100px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 22px;
    margin-left: 0;
  }
}

.header__contacts-button {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.header__nav {
  display: none;

  width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;

  background-color: $green-transparent-color;
  backdrop-filter: blur(2px);

  &--nojs {
    display: block;
  }

  &--open {
    position: absolute;
    z-index: 100;

    display: block;
    min-height: 100%;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    display: block;
    height: auto;
    padding: 0;
  }
}

.header__nav-list {
  margin-bottom: 39px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.header__nav-button {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
