.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  column-gap: 36px;

  &--nojs {
    display: none;
  }
}

.pagination__button {
  display: block;
  width: 34px;
  height: 34px;

  font-size: 0;
  line-height: 0;

  background-color: transparent;
  background-image: url(/img/icons/icon-arrow-right-grey.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  border: none;

  cursor: pointer;

  &--prev {
    transform: rotate(180deg);
  }

  &:hover {
    background-image: url(/img/icons/icon-arrow-right-green.svg);
  }

  &:active {
    background-image: url(/img/icons/icon-arrow-right-green.svg);

    opacity: 0.6;
  }
}

.pagination__pages-count {
  font-size: 0;
  line-height: 0;
}

.pagination__page {
  font-size: 18px;
  line-height: normal;

  &--total {
    color: $f-grey-color;
  }
}
