// colors
  // font colors
$f-main-color: #364844;
$f-grey-color: #c0c0c0;
$f-grey-light-color: #e1e1e1;
$f-grey-dark-color: #868686;
$f-white-color: #ffffff;
$f-green-color: #0dbc91;
$f-green-dark-color: #08664f;
$f-green-secondary-color: #1fa181;

  // main-colors
$white: #ffffff;
$grey: #f6f6f6;
$grey-light: #f8fbfa;
$green-lightern: #e2f0ef;
$green-dark-color: #08664f;
$green-light-color: #0dbc91;
$green-hover-color: #00d29f;
$green-transparent-color: rgb(69 146 127 / 90%);

// viewports
$mobile-width: 340px;
$tablet-width: 768px;
$desktop-width: 1140px;
